Repository Freitagabend/BC-Tour-planning, changes with the labels that .github/labeler.yml gives for each.
All labels: 🖥️al, 📱mobile, 🗄️server

Create build-mobile.yml
  .github/workflows/build-mobile.yml
Labels: none

Create package.json
  .github/package.json
Labels: none

Create codeql-analysis.yml
  .github/workflows/codeql-analysis.yml
Labels: none

Add devcontainer configuration with Dockerfiles for backend and Flutter
  .devcontainer/.gitignore
  .devcontainer/backend.Dockerfile
  .devcontainer/devcontainer.json
  .devcontainer/docker-compose.yml
  .devcontainer/flutter.Dockerfile
Labels: none

Add FastAPI debug configuration and enhance route optimization logic
  backend/.vscode/launch.json
  backend/routing.py
Labels: 🗄️server

Add .devcontainer folder to workspace configuration
  BC-Tour-planning.code-workspace
Labels: none

Add OpenAPI generator configuration and update templates for Dart serialization
  open-api/bin/generate-open-api.sh
  open-api/openapitools.json
  open-api/templates/mobile/api.mustache
  open-api/templates/mobile/api.mustache.patch
  open-api/templates/mobile/serialization/native/native_class.mustache
  open-api/templates/mobile/serialization/native/native_class.mustache.patch
Labels: none

Add new folders for OpenAPI and mobile in workspace configuration
  BC-Tour-planning.code-workspace
Labels: none

Rename Flutter project to tourplanning_mobile and update pubspec.yaml; remove widget_test.dart
  mobile/pubspec.yaml
  mobile/test/widget_test.dart
Labels: 📱mobile

Update pubspec.yaml
  mobile/pubspec.yaml
Labels: none

Create main.dart
  mobile/lib/main.dart
Labels: 📱mobile

Update pubspec.yaml
  mobile/pubspec.yaml
Labels: none

Create pr-label-validation.yml
  .github/workflows/pr-label-validation.yml
Labels: none

Create export-openapi.yml
  .github/workflows/export-openapi.yml
Labels: none

Update export-openapi.yml
  .github/workflows/export-openapi.yml
Labels: none

Update build-mobile.yml
  .github/workflows/build-mobile.yml
Labels: none

Update export-openapi.yml
  .github/workflows/export-openapi.yml
Labels: none

Update export-openapi.yml
  .github/workflows/export-openapi.yml
Labels: none

Update export-openapi.yml
  .github/workflows/export-openapi.yml
Labels: none

Update export-openapi.yml
  .github/workflows/export-openapi.yml
Labels: none

Update OpenAPI spec
  open-api/tourplanning_openapi.json
Labels: none

Update export-openapi.yml
  .github/workflows/export-openapi.yml
Labels: none

Update OpenAPI spec and generated Flutter client
  mobile/openapi/.gitignore
  mobile/openapi/.openapi-generator-ignore
  mobile/openapi/.openapi-generator/FILES
  mobile/openapi/.openapi-generator/VERSION
  mobile/openapi/.travis.yml
  mobile/openapi/README.md
  mobile/openapi/doc/DefaultApi.md
  mobile/openapi/doc/HTTPValidationError.md
  mobile/openapi/doc/Route.md
  mobile/openapi/doc/Stop.md
  mobile/openapi/doc/TourRequest.md
  mobile/openapi/doc/TourResponse.md
  mobile/openapi/doc/ValidationError.md
  mobile/openapi/doc/ValidationErrorLocInner.md
  mobile/openapi/git_push.sh
  mobile/openapi/pubspec.yaml
  mobile/openapi/test/default_api_test.dart
  mobile/openapi/test/http_validation_error_test.dart
  mobile/openapi/test/route_test.dart
  mobile/openapi/test/stop_test.dart
  mobile/openapi/test/tour_request_test.dart
  mobile/openapi/test/tour_response_test.dart
  mobile/openapi/test/validation_error_loc_inner_test.dart
  mobile/openapi/test/validation_error_test.dart
Labels: none

Update main.dart
  mobile/lib/main.dart
Labels: 📱mobile

refactor project structure
  .gitignore
  al-app/.gitignore
  backend/.gitignore
  mobile/openapi/.gitignore
  mobile/openapi/.openapi-generator-ignore
  mobile/openapi/.openapi-generator/FILES
  mobile/openapi/.openapi-generator/VERSION
  mobile/openapi/.travis.yml
  mobile/openapi/README.md
  mobile/openapi/doc/DefaultApi.md
  mobile/openapi/doc/HTTPValidationError.md
  mobile/openapi/doc/Route.md
  mobile/openapi/doc/Stop.md
  mobile/openapi/doc/TourRequest.md
  mobile/openapi/doc/TourResponse.md
  mobile/openapi/doc/ValidationError.md
  mobile/openapi/doc/ValidationErrorLocInner.md
  mobile/openapi/git_push.sh
  mobile/openapi/pubspec.yaml
  mobile/openapi/test/default_api_test.dart
  mobile/openapi/test/http_validation_error_test.dart
  mobile/openapi/test/route_test.dart
  mobile/openapi/test/stop_test.dart
  mobile/openapi/test/tour_request_test.dart
  mobile/openapi/test/tour_response_test.dart
  mobile/openapi/test/validation_error_loc_inner_test.dart
  mobile/openapi/test/validation_error_test.dart
  open-api/bin/generate-open-api.sh
  open-api/templates/mobile/api.mustache
  open-api/templates/mobile/serialization/native/native_class.mustache
  open-api/templates/mobile/serialization/native/openapitools.json
  open-api/tourplanning_openapi.json
Labels: 🗄️server

Update OpenAPI spec and generated Flutter client
  mobile/openapi/.gitignore
  mobile/openapi/.openapi-generator-ignore
  mobile/openapi/.openapi-generator/VERSION
  mobile/openapi/.travis.yml
  mobile/openapi/README.md
  mobile/openapi/git_push.sh
  mobile/openapi/lib/api.dart
  mobile/openapi/lib/api/default_api.dart
  mobile/openapi/lib/api_client.dart
  mobile/openapi/lib/api_exception.dart
  mobile/openapi/lib/api_helper.dart
  mobile/openapi/lib/auth/api_key_auth.dart
  mobile/openapi/lib/auth/authentication.dart
  mobile/openapi/lib/auth/http_basic_auth.dart
  mobile/openapi/lib/auth/http_bearer_auth.dart
  mobile/openapi/lib/auth/oauth.dart
  mobile/openapi/lib/model/http_validation_error.dart
  mobile/openapi/lib/model/route.dart
  mobile/openapi/lib/model/stop.dart
  mobile/openapi/lib/model/tour_request.dart
  mobile/openapi/lib/model/tour_response.dart
  mobile/openapi/lib/model/validation_error.dart
  mobile/openapi/lib/model/validation_error_loc_inner.dart
  mobile/openapi/pubspec.yaml
  open-api/tourplanning_openapi.json
Labels: none

Update codeql-analysis.yml
  .github/workflows/codeql-analysis.yml
Labels: none

fix project setup for openapi
  BC-Tour-planning.code-workspace
  mobile/lib/main.dart
  mobile/pubspec.lock
  mobile/pubspec.yaml
Labels: 📱mobile

Update main.py
  backend/main.py
Labels: 🗄️server

Update OpenAPI spec and generated Flutter client
  mobile/openapi/README.md
  mobile/openapi/lib/api.dart
  mobile/openapi/lib/api/tourplanning_api.dart
  open-api/tourplanning_openapi.json
Labels: none

Create test_route.py
  backend/tests/test_route.py
Labels: 🗄️server

Update requirements.txt
  backend/requirements.txt
Labels: 🗄️server

Update requirements.txt
  backend/requirements.txt
Labels: 🗄️server

Update backend.yml
  .github/workflows/backend.yml
Labels: none

Update backend.yml
  .github/workflows/backend.yml
Labels: none

Update backend.yml
  .github/workflows/backend.yml
Labels: none

.github/labeler.yml:

🖥️al:
  - changed-files:
      - any-glob-to-any-file:
          - al-app/src/**
          - al-app/test/**

📱mobile:
  - changed-files:
      - any-glob-to-any-file:
          - mobile/lib/**
          - mobile/test/**

🗄️server:
  - changed-files:
      - any-glob-to-any-file:
          - backend/**
